<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="TestComponents.Listeners"></listener>
	</listeners>
  <test name="Test1">
    <classes>
     <class name="Tests.FirstTest"/>
      
      <class name="TestComponents.BaseTest"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="Test2">
    <classes>     
       <class name="Tests.checkPagesVisit"/>    
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
